@using Newtonsoft.Json
@using BlazorApp.Models

@page "/oldweather"
@attribute [StreamRendering]
@inject IJSRuntime JSRuntime

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<div class="section">
    <div class="row">
        <div class="col">
            <div id="map" style="height:400px;width:100%;"></div>
        </div>
        <div class="col"></div>
    </div>
</div>

@if (_model == null || _model?.HourlyData == null || _model?.HourlyData.Time == null){
    <p><em>Loading...</em></p>
}
else{
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Temperature 2m</th>
                <th>Apparent Temperature</th>
                <th>Precipitation Probability</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < _model.HourlyData.Time.Length; i++)
            {
                <tr>
                    <td>@_model.HourlyData.Time[i].Split("T")[1]</td>
                    <td>@_model.HourlyData.Temperature2m[i] @_model.HourlyUnits.Temperature2m</td>
                    <td>@_model.HourlyData.ApparentTemperature[i] @_model.HourlyUnits.ApparentTemperature</td>
                    <td>@_model.HourlyData.PrecipitationProbability[i] @_model.HourlyUnits.PrecipitationProbability</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DotNetObjectReference<OldWeather>? _dotNetHelper;

    private WeatherData? _model;

    private string _connectionString = "https://api.open-meteo.com/v1/";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetHelper = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("MapsHelpers.setDotNetHelper", _dotNetHelper);
        }
    }

    [JSInvokable]
    public async Task GetLiveData(double lat, double lon)
    {
        using (var client = new HttpClient())
        {
            client.BaseAddress = new Uri(_connectionString);
            client.DefaultRequestHeaders.Accept.Clear();

            var url = $"forecast?latitude={lat}&longitude={lon}&hourly=temperature_2m,apparent_temperature,precipitation_probability&forecast_days=1";

            HttpResponseMessage response = await client.GetAsync(url);
            if (response.IsSuccessStatusCode)
            {
                var apiData = await response.Content.ReadAsStringAsync();

                _model = JsonConvert.DeserializeObject<WeatherData>(apiData);
            }
        }
        StateHasChanged();
    }
}

